@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
}

:root {
    --main-bg-color: #EDD0CA;
    --text-font: #9C4635;
    --border-color: #F8EEEC;
    --hover-color: #E3B2AA;
}

.content {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr;
    background-color: var(--main-bg-color);
}

.banner {
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    color: var(--text-font);
    font-family: "Rubik Moonrocks", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.central-part {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

.left-space,
.right-space {
    flex-grow: 2;
}

.board {
    grid-row: 2;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    grid-template-rows: repeat(3, minmax(140px, 1fr));
    max-width: 50%;
    max-height: 50%;
    border-radius: 20px;
}

.board button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Rubik Moonrocks", Arial, Helvetica, sans-serif;
    background-color: var(--border-color);
}

.board button:hover {
    background-color: var(--hover-color);
}
